@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto:wght@400;500;700&display=swap');
body {
  background-color: fffbfa;
  color: 02010a;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: normal;
}
h1, h2, h3{
  color:00bd9d;
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 16px;
}
p{
  margin-bottom: 40px;
}
a{
  color: 6B72E1;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: 8bd7d2;
}
.container{
  margin: 0 auto;
}
.card-white{
  width: 90%;
  margin: 20px auto;
  background: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.img-circle{
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  font-size: Medium;
  font-weight: 600px;
  border-radius: 4px;
  padding: 16px 32px;
}
.btn-blue:hover {
  background-color: 8bd7d2;
  color: white;
  border-radius: 4px;
  padding: 16px 32px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
